body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.centered-text {
    display: grid;
    justify-content: center;
    font-family: monospace;
    line-height: 1;
}

.centered-text .line {
    white-space: nowrap;
}
