body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black; /* Set background to black */
    color: white; /* Set text color to white */
}

.centered-text {
    text-align: center;
    font-family: monospace;
    line-height: 1;
    white-space: pre-line;
}
